Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*/Build
*/Binaries
*/DerivedDataCache
*/Intermediate
*/Saved
*.uasset
*.umap

R6Copy/Content/StarterContent/

R6Copy.png
